<!-- una sezione informativa dei prodotti ecosostenibili -->
<div class="container px-4 py-5" id="custom-cards">
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Dynami - Raccomandato per te e per il pianeta</h2>
        <p class="lead">
          Come azienda, adottiamo una serie di misure sostenibili per proteggere la natura che ci circonda.
          Innanzitutto, ci assicuriamo di selezionare prodotti provenienti da fonti sostenibili e responsabili,
          privilegiando ingredienti naturali e biologici. In questo modo, promuoviamo pratiche agricole eco-compatibili
          e il rispetto per la biodiversità.
          <br>
          <a href="#" class="link-primary">Maggiori informazioni</a>

        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" width="500" height="500" role="img"
          preserveAspectRatio="xMidYMid slice" focusable="false" src="assets/images/natura.jpg">
      </div>
    </div>
  </div>