<!--PROVA DI UN CAROUSELL HTML CHE NON VIENE USATA A PROGETTO FINITO-->
<div id="carousel" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active bg-dark"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" class="bg-dark"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" class="bg-dark"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="product-grid">
              <div class="product-image">
                <a href="">
                  <img class="pic-1 bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400"
                    aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice"
                    src="/assets/images/prodotto1.1.png" focusable="false">
                  <img class="pic-2 bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400"
                    aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice"
                    src="/assets/images/prodotto1.2.png" focusable="false">
                </a>
                <span class="product-new-label">Sconto</span>
                <span class="product-discount-label">20%</span>
                <h6>Grenade barrette proteiche</h6>
              </div>
              <ul class="rating">
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star disable"></li>
              </ul>
              <div class="product-content">
                <h3 class="title"><a href="pages/Abbigliamento_sportivo.html">Barrette proteiche</a></h3>
                <div class="price">€16.00
                  <span>€20.00</span>
                </div>
                <a class="add-to-cart" href="">+ Aggiungi al carrello</a>
              </div>
            </div>
          </div>
  
          <div class="col-md-3 col-sm-6">
            <div class="product-grid">
              <div class="product-image">
                <a href="pages/pagina_prodotto.html">
                  <img class="pic-1" src="/assets/images/prodotto1.1.png">
                  <img class="pic-2" src="/assets/images/prodotto1.2.png">
                </a>
                <span class="product-new-label">Sconto</span>
                <span class="product-discount-label">30%</span>
              </div>
              <h6>Maglietta Sportiva Uomo</h6>
              <ul class="rating">
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
              </ul>
              <div class="product-content">
                <h3 class="title"><a href="#">Uomo</a></h3>
                <div class="price">€21.00
                  <span>€30.00</span>
                </div>
                <a class="add-to-cart" href="">+ Aggiungi al carrello</a>
              </div>
            </div>
          </div>
  
          <div class="col-md-3 col-sm-6">
            <div class="product-grid">
              <div class="product-image">
                <a href="pages/pagina_prodotto.html">
                  <img class="pic-1" src="/assets/images/prodotto3.1.png">
                  <img class="pic-2" src="/assets/images/prodotto3.2.png">
                </a>
                <span class="product-new-label">Sconto</span>
                <span class="product-discount-label">30%</span>
              </div>
              <h6>Maglietta Sportiva Uomo</h6>
              <ul class="rating">
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
              </ul>
              <div class="product-content">
                <h3 class="title"><a href="#">Uomo</a></h3>
                <div class="price">€21.00
                  <span>€30.00</span>
                </div>
                <a class="add-to-cart" href="">+ Aggiungi al carrello</a>
              </div>
            </div>
          </div>
  
          <div class="col-md-3 col-sm-6">
            <div class="product-grid">
              <div class="product-image">
                <a href="pages/pagina_prodotto.html">
                  <img class="pic-1" src="/assets/images/prodotto4.1.png">
                  <img class="pic-2" src="/assets/images/prodotto4.2.png">
                </a>
                <span class="product-new-label">Sconto</span>
                <span class="product-discount-label">30%</span>
              </div>
              <h6>Maglietta Sportiva Uomo</h6>
              <ul class="rating">
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
              </ul>
              <div class="product-content">
                <h3 class="title"><a href="#">Uomo</a></h3>
                <div class="price">€21.00
                  <span>€30.00</span>
                </div>
                <a class="add-to-cart" href="">+ Aggiungi al carrello</a>
              </div>
            </div>
          </div>
  
  
        </div>
        <br>
      </div>
  
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="product-grid">
              <div class="product-image">
                <a href="">
                  <img class="pic-1 bd-placeholder-img bd-placeholder-img-lg d-block w-100" 
                    aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice"
                    src="/assets/images/prodotto1.1.png" focusable="false">
                  <img class="pic-2 bd-placeholder-img bd-placeholder-img-lg d-block w-100" 
                    aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice"
                    src="/assets/images/prodotto1.2.png" focusable="false">
                </a>
                <span class="product-new-label">Sconto</span>
                <span class="product-discount-label">20%</span>
                <h6>Grenade barrette proteiche</h6>
              </div>
              <ul class="rating">
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star disable"></li>
              </ul>
              <div class="product-content">
                <h3 class="title"><a href="pages/Abbigliamento_sportivo.html">Barrette proteiche</a></h3>
                <div class="price">€16.00
                  <span>€20.00</span>
                </div>
                <a class="add-to-cart" href="">+ Aggiungi al carrello</a>
              </div>
            </div>
          </div>
  
          <div class="col-md-3 col-sm-6">
            <div class="product-grid">
              <div class="product-image">
                <a href="pages/pagina_prodotto.html">
                  <img class="pic-1" src="assets/images/prodotto2.1.png">
                  <img class="pic-2" src="assets/images/prodotto2.2.png">
                </a>
                <span class="product-new-label">Sconto</span>
                <span class="product-discount-label">30%</span>
              </div>
              <h6>Maglietta Sportiva Uomo</h6>
              <ul class="rating">
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
              </ul>
              <div class="product-content">
                <h3 class="title"><a href="#">Uomo</a></h3>
                <div class="price">€21.00
                  <span>€30.00</span>
                </div>
                <a class="add-to-cart" href="">+ Aggiungi al carrello</a>
              </div>
            </div>
          </div>
  
          <div class="col-md-3 col-sm-6">
            <div class="product-grid">
              <div class="product-image">
                <a href="pages/pagina_prodotto.html">
                  <img class="pic-1" src="/assets/images/prodotto2.1.png">
                  <img class="pic-2" src="/assets/images/prodotto2.2.png">
                </a>
                <span class="product-new-label">Sconto</span>
                <span class="product-discount-label">30%</span>
              </div>
              <h6>Maglietta Sportiva Uomo</h6>
              <ul class="rating">
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
              </ul>
              <div class="product-content">
                <h3 class="title"><a href="#">Uomo</a></h3>
                <div class="price">€21.00
                  <span>€30.00</span>
                </div>
                <a class="add-to-cart" href="">+ Aggiungi al carrello</a>
              </div>
            </div>
          </div>
  
          <div class="col-md-3 col-sm-6">
            <div class="product-grid">
              <div class="product-image">
                <a href="pages/pagina_prodotto.html">
                  <img class="pic-1" src="/assets/images/prodotto4.1.png">
                  <img class="pic-2" src="/assets/images/prodotto4.2.png">
                </a>
                <span class="product-new-label">Sconto</span>
                <span class="product-discount-label">30%</span>
              </div>
              <h6>Maglietta Sportiva Uomo</h6>
              <ul class="rating">
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
              </ul>
              <div class="product-content">
                <h3 class="title"><a href="#">Uomo</a></h3>
                <div class="price">€21.00
                  <span>€30.00</span>
                </div>
                <a class="add-to-cart" href="">+ Aggiungi al carrello</a>
              </div>
            </div>
          </div>
  
  
        </div>
        <br>
      </div>
  
  
  
  
  
  
  
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="product-grid">
              <div class="product-image">
                <a href="">
                  <img class="pic-1 bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400"
                    aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice"
                    src="/assets/images/prodotto1.1.png" focusable="false">
                  <img class="pic-2 bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400"
                    aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice"
                    src="/assets/images/prodotto1.2.png" focusable="false">
                </a>
                <span class="product-new-label">Sconto</span>
                <span class="product-discount-label">20%</span>
                <h6>Grenade barrette proteiche</h6>
              </div>
              <ul class="rating">
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star disable"></li>
              </ul>
              <div class="product-content">
                <h3 class="title"><a href="pages/Abbigliamento_sportivo.html">Barrette proteiche</a></h3>
                <div class="price">€16.00
                  <span>€20.00</span>
                </div>
                <a class="add-to-cart" href="">+ Aggiungi al carrello</a>
              </div>
            </div>
          </div>
  
          <div class="col-md-3 col-sm-6">
            <div class="product-grid">
              <div class="product-image">
                <a href="pages/pagina_prodotto.html">
                  <img class="pic-1" src="/assets/images/prodotto2.1.png">
                  <img class="pic-2" src="/assets/images/prodotto2.2.png">
                </a>
                <span class="product-new-label">Sconto</span>
                <span class="product-discount-label">30%</span>
              </div>
              <h6>Maglietta Sportiva Uomo</h6>
              <ul class="rating">
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
              </ul>
              <div class="product-content">
                <h3 class="title"><a href="#">Uomo</a></h3>
                <div class="price">€21.00
                  <span>€30.00</span>
                </div>
                <a class="add-to-cart" href="">+ Aggiungi al carrello</a>
              </div>
            </div>
          </div>
  
          <div class="col-md-3 col-sm-6">
            <div class="product-grid">
              <div class="product-image">
                <a href="pages/pagina_prodotto.html">
                  <img class="pic-1" src="assets/images/prodotto2.1.png">
                  <img class="pic-2" src="assets/images/prodotto2.2.png">
                </a>
                <span class="product-new-label">Sconto</span>
                <span class="product-discount-label">30%</span>
              </div>
              <h6>Maglietta Sportiva Uomo</h6>
              <ul class="rating">
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
              </ul>
              <div class="product-content">
                <h3 class="title"><a href="#">Uomo</a></h3>
                <div class="price">€21.00
                  <span>€30.00</span>
                </div>
                <a class="add-to-cart" href="">+ Aggiungi al carrello</a>
              </div>
            </div>
          </div>
  
          <div class="col-md-3 col-sm-6">
            <div class="product-grid">
              <div class="product-image">
                <a href="pages/pagina_prodotto.html">
                  <img class="pic-1" src="assets/images/prodotto4.1.png">
                  <img class="pic-2" src="assets/images/prodotto4.2.png">
                </a>
                <span class="product-new-label">Sconto</span>
                <span class="product-discount-label">30%</span>
              </div>
              <h6>Maglietta Sportiva Uomo</h6>
              <ul class="rating">
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
              </ul>
              <div class="product-content">
                <h3 class="title"><a href="#">Uomo</a></h3>
                <div class="price">€21.00
                  <span>€30.00</span>
                </div>
                <a class="add-to-cart" href="">+ Aggiungi al carrello</a>
              </div>
            </div>
          </div>
  
  
        </div>
        <br>
      </div>
    </div>
    <button class="carousel-control-prev fa-xl fa-rotate-180" type="button" data-bs-target="#carousel" data-bs-slide="prev"><fa-icon [icon]="faArrowRight" ></fa-icon>
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next fa-xl" type="button" data-bs-target="#carousel" data-bs-slide="next"><fa-icon [icon]="faArrowRight" ></fa-icon>
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>