<div class="container">
  <div class="row">
    <!-- visualizza tutti i prodotti di catalogo filtrato e li itera tutti (successivamente prende determinati attributi) -->
    <ng-container *ngFor="let product of catalogoFiltrato">
      <div class="col-md-3 col-sm-6">
        <div class="product-grid">
          <a type="button" (click)="goToProductDetail(product)">
          <div class="product-image">
              <img class="pic-1" [src]="product.image1" role="button"> 
              <img class="pic-2" [src]="product.image2">
          </div>
        </a>
          <h6>{{product.name}}</h6>
          <div class="product-content">
            <h3 class="title"><a >{{product.category}} </a></h3>
            <div class="price">{{product.price}}€</div>
            <a class="add-to-cart button" (click)="addToCart(product)" type="button"> Aggiungi al carrello</a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<app-br-personalised></app-br-personalised>