.b-example-divider {
    
    height: 2.5rem;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 25%, rgba(221,221,221,1) 50%, rgba(236,236,236,1) 75%, rgba(255,255,255,1) 100%);
   
}   

.f-divider{
    height: 1.2rem;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(33,37,41,1) 100%);
  }