.btn-paypal{
    background-color:#3b7bbf;
    color: white;
    width: 50px;
}
.btn-paypal:hover{
    background-color:#2b598a;

}

.btn-google{
    background-color:#5F6368;
    color: white;
    width: 50px;
}
.btn-google:hover{
    background-color:#3c3f42;
    color: white;
}

.btn-apple{
    background-color:#000000;
    color: white;
    width: 50px;
}
.btn-apple:hover{
    background-color:#ffffff;
    color: #000000;
}


.btn-American-express{
    background-color: #016FD0;
    color: white;
    width: 50px;
}

.btn-American-express:hover{
    background-color: #00437e;
    color: white;
}

.btn-red{
    background-color: #691010;
    color: white;
}