<section>
    <div class="text-center container my_text_box">
      <h5 class="mt-4 mb-5">Proteine In Polvere & Shake</h5>
      <p>Dynami™offre una vastissima gamma di proteine di tutti i tipi: dalle whey (proteine del siero del latte)
        <br>
        in polvere da sciogliere in uno shaker a quelle pronte da bere, dalle proteine vegane a quelle vegetariane,
        <br>
        da quelle senza lattosio a quelle senza glutine. Troverete anche proteine di manzo e proteine delle uova.
        <br>
        Se invece state provando a perdere peso, le proteine dietetiche sono quello che fa per voi.
        <br>
        Le proteine rappresentano un componente fondamentale all'interno della nostra dieta,
        <br>
        
        soprattutto per chi si allena con regolarità in palestra. Le proteine contribuiscono al recupero e alla crescita
        della massa muscolare.
        <br>
        Scegli quelle che preferisci tra i moltissimi gusti disponibili, adatti a tutti i palati, e tra i diversi
        formati per ogni esigenza.
        <br>
      </p>
      <br>
    </div>
  </section>